.formularioBusquedaOfertas input {
    display:block;
    width: 100%;
    margin: 0 0 5px 0;
}

.red{
  color:#FF1F23;
}

.mt{
  margin-top: 16px;
}

.mt10{
  margin-top: 10px;
}

.image-item{
  display:inline-block;
  background-position:center;
  background-repeat:no-repeat;
  width:102px;
  height:102px;
  border:1px solid #ccc;
  text-align:center;
}

.image-item .delete{
    display:block;
    width:100px;
    height:100px;
    line-height:112px;
    border:2px solid #fff;
}

.image-item .delete:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.image-item .delete:hover i{
  visibility:visible;
}

.image-item .delete i{
      visibility:hidden;
      font-size:24px;
      color:#fff;
}

.input-file-upload-wrap{
  display:block;
  margin-bottom:15px;
}

.input-file-upload{
  box-shadow: none;
  background: transparent url("../img/no-photo.png") center no-repeat;
  border: 2px dashed #ccc;
  cursor: pointer;
  display: inline-block !important;
  height: 100px !important;
  text-indent: -9999px;
  width: 100px !important;
}

.input-file-upload-name{
  margin-left:20px;
}

.info-field{
  display:inline-block;
  width:auto;
  padding: 8px 15px;
  @include border-radius(4px);
  font-size:12px;
  margin-bottom:0;
}

.select2-container{
  border:0 !important;
  padding: 0 !important;

}

.btn-map{
  background-color: #FFFFFF;
  border-color: #CCCCCC;
  color: #333333;
}

.btn-map:hover,
.btn-map:focus,
.btn-map:active{
  background-color: #EBEBEB;
  border-color: #ADADAD;
  color: #333333;
}

span.error{
  color:#FF1F23;
  display: block;
  margin: 6px 0 0;
  font-size: 12px;
}

.map-item-create{
    height:300px;
}
.map-item-create #map-canvas{
    position:relative;
    height:100%;
    width:100%;
    border:1px solid #ccc;
}

.help-block{
  font-size: 12px;
}

.sign-board{
	height:200px;
    width:300px;
}

/*CANVAS*/
.canvas-incisors{
    width: 327px;
    height: 349px;
    background: url("../img/incisors.jpg") no-repeat;
    background-position: 0px 38px;
}

.canvas-quadrants{
    background-position: 0px 70px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.canvas-sign{
    width: 300px;
    height: 200px;
}

.drawing-board-canvas-wrapper {
    border: 2px solid #dee3e4 !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.drawing-board-canvas-wrapper+.drawing-board-controls,
.drawing-board-controls+.drawing-board-canvas-wrapper {
    margin-top: 10px !important;
}

.canvas-quadrants .drawing-board-canvas-wrapper+.drawing-board-controls,
.canvas-quadrants .drawing-board-controls+.drawing-board-canvas-wrapper {
    margin-top: 40px !important;
}

.drawing-board-control-colors-current {
    border: 0 !important;
    cursor: pointer;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.drawing-board-control>button,
.drawing-board-control-colors-rainbows,
.drawing-board-control-size .drawing-board-control-inner,
.drawing-board-control-size-dropdown {
    background-color: #eee;
    padding: 2px 4px;
    border: 0 !important;
    border-bottom: 2px solid #ccc !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.comments_quadrant{
    position: absolute;
}

#quadrant1{
    top:45px;
    left:0;
}

#quadrant2{
    top:45px;
    right:0;
}

#quadrant3{
    bottom:-25px;
    right:0;
}

#quadrant4{
    bottom:-25px;
    left:0;
}

/*X-EDIT*/
.editable-empty,
.editable-empty:hover,
.editable-empty:focus {
    color:#D2DDE7 !important;
}

.editable-click,
a.editable-click,
a.editable-click:hover {
    color:#333;
}

.edit-inline{
    overflow: hidden;
    width: 18px;
    height: 14px;
    letter-spacing:3px;
    text-align: center;
    font-style: normal !important;
    border-bottom: 0 !important;
    text-shadow: none !important;
}

.editableform .form-control{
    height: 24px;
    font-size: 14px;
}

.editableform .btn{
    font-size: 12px;
    padding: 8px 10px;
}

.editableform .btn-default{
    border-bottom: 2px solid #bbb;
}

.editableform .btn-default:hover{
    border-bottom: 2px solid #bbb;
}


@media (min-width: 1024px){
    .container {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .canvas-quadrants{
        width: 1002px;
        height: 695px;
    }

    #wrap-quadrants{
        width: 550px;
        height: 343.75px;
    }

    .preview .page{
        width: 995px;
        height: 1408.05px;
    }

    /*Cuadrantes 1 y 4*/

    #quadrant1 a.comment_1,
    #quadrant4 a.comment_1{
        margin-left: 15px;
    }

    #quadrant1 a.comment_2,
    #quadrant4 a.comment_2{
        margin-left: 18px;
    }

    #quadrant1 a.comment_3,
    #quadrant4 a.comment_3{
        margin-left: 16px;
    }

    #quadrant1 a.comment_4,
    #quadrant4 a.comment_4{
        margin-left: 17px;
    }

    #quadrant1 a.comment_5,
    #quadrant4 a.comment_5{
        margin-left: 18px;
    }

    #quadrant1 a.comment_6,
    #quadrant4 a.comment_6{
        margin-left: 18px;
    }

    #quadrant1 a.comment_7,
    #quadrant4 a.comment_7{
        margin-left: 12px;
    }

    #quadrant1 a.comment_8,
    #quadrant4 a.comment_8{
        margin-left: 8px;
    }

    #quadrant1 a.comment_9,
    #quadrant4 a.comment_9{
        margin-left: 10px;
    }

    #quadrant1 a.comment_10,
    #quadrant4 a.comment_10{
        margin-left: 10px;
    }

    #quadrant1 a.comment_11,
    #quadrant4 a.comment_11{
        margin-left: 7px;
    }

    /*Cuadrantes 2 y 3*/

    #quadrant2 a.comment_1,
    #quadrant3 a.comment_1{
        margin-right: 8px;
    }

    #quadrant2 a.comment_2,
    #quadrant3 a.comment_2{
        margin-right: 9px;
    }

    #quadrant2 a.comment_3,
    #quadrant3 a.comment_3{
        margin-right: 10px;
    }

    #quadrant2 a.comment_4,
    #quadrant3 a.comment_4{
        margin-right: 9px;
    }

    #quadrant2 a.comment_5,
    #quadrant3 a.comment_5{
        margin-right: 9px;
    }

    #quadrant2 a.comment_6,
    #quadrant3 a.comment_6{
        margin-right: 17px;
    }

    #quadrant2 a.comment_7,
    #quadrant3 a.comment_7{
        margin-right: 19px;
    }

    #quadrant2 a.comment_8,
    #quadrant3 a.comment_8{
        margin-right: 20px;
    }

    #quadrant2 a.comment_9,
    #quadrant3 a.comment_9{
        margin-right: 17px;
    }

    #quadrant2 a.comment_10,
    #quadrant3 a.comment_10{
        margin-right: 16px;
    }

    #quadrant2 a.comment_11,
    #quadrant3 a.comment_11{
        margin-right: 12px;
    }

}

@media (max-width: 1024px){

    .container {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .canvas-quadrants{
        width: 802px;
        height: 570px;
    }

    #wrap-quadrants{
        width: 539px;
        height: 337.5px;
    }

    .preview .page{
        width: 792px;
        height: 1120.78px;
    }

    /*Cuadrantes 1 y 4*/

    #quadrant1 a.comment_1,
    #quadrant4 a.comment_1{
        margin-left: 15px;
    }

    #quadrant1 a.comment_2,
    #quadrant4 a.comment_2{
        margin-left: 18px;
    }

    #quadrant1 a.comment_3,
    #quadrant4 a.comment_3{
        margin-left: 16px;
    }

    #quadrant1 a.comment_4,
    #quadrant4 a.comment_4{
        margin-left: 17px;
    }

    #quadrant1 a.comment_5,
    #quadrant4 a.comment_5{
        margin-left: 18px;
    }

    #quadrant1 a.comment_6,
    #quadrant4 a.comment_6{
        margin-left: 18px;
    }

    #quadrant1 a.comment_7,
    #quadrant4 a.comment_7{
        margin-left: 12px;
    }

    #quadrant1 a.comment_8,
    #quadrant4 a.comment_8{
        margin-left: 8px;
    }

    #quadrant1 a.comment_9,
    #quadrant4 a.comment_9{
        margin-left: 10px;
    }

    #quadrant1 a.comment_10,
    #quadrant4 a.comment_10{
        margin-left: 10px;
    }

    #quadrant1 a.comment_11,
    #quadrant4 a.comment_11{
        margin-left: 7px;
    }

    /*Cuadrantes 2 y 3*/

    #quadrant2 a.comment_1,
    #quadrant3 a.comment_1{
        margin-right: 8px;
    }

    #quadrant2 a.comment_2,
    #quadrant3 a.comment_2{
        margin-right: 9px;
    }

    #quadrant2 a.comment_3,
    #quadrant3 a.comment_3{
        margin-right: 10px;
    }

    #quadrant2 a.comment_4,
    #quadrant3 a.comment_4{
        margin-right: 9px;
    }

    #quadrant2 a.comment_5,
    #quadrant3 a.comment_5{
        margin-right: 9px;
    }

    #quadrant2 a.comment_6,
    #quadrant3 a.comment_6{
        margin-right: 17px;
    }

    #quadrant2 a.comment_7,
    #quadrant3 a.comment_7{
        margin-right: 19px;
    }

    #quadrant2 a.comment_8,
    #quadrant3 a.comment_8{
        margin-right: 20px;
    }

    #quadrant2 a.comment_9,
    #quadrant3 a.comment_9{
        margin-right: 17px;
    }

    #quadrant2 a.comment_10,
    #quadrant3 a.comment_10{
        margin-right: 16px;
    }

    #quadrant2 a.comment_11,
    #quadrant3 a.comment_11{
        margin-right: 12px;
    }

}